@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section scripts{

    <script src="~/js/angular.min.js"></script>
    <script src="~/AngularController/HomeAngularJS.js"></script>

}

<div class="container container-login"  ng-app="Homeapp" ng-controller="AngularController">
  <div class="row">
    <div class="col-sm-6">
        <div class="row-sm-4">
           <img src="~/imagens/usuario.png" class="mx-auto d-block imagemLogin" asp-append-version="true" /></br>
            <form name="formCadastro" id="formCadastro" novalidate>
                <div class="form-group">
                   <label for="nome" class="col-form-label" ng-class="{'col-form-label  text-danger': formCadastro.nome.$touched && formCadastro.nome.$error.required,'col-form-label  text-success': !formCadastro.nome.$error.required}">*Nome</label>
                   <input type="text"  class="form-control" ng-class="{'form-control':formCadastro.nome.$untouched,'form-control is-invalid': formCadastro.nome.$touched && formCadastro.nome.$error.required,'form-control is-valid': !formCadastro.nome.$error.required}" id="nome"  name="nome" placeholder="nome"  ng-model="nome" ng-required="true">
                   <small ng-show="formCadastro.nome.$touched && formCadastro.nome.$error.required" class="text-danger">
                           Nome é obrigatorio.
                   </small>
                </div>
                <div class="form-group">
                    <label for="cpf" class="col-form-label" ng-class="{'col-form-label  text-danger': formCadastro.cpf.$touched && formCadastro.cpf.$error.required,'col-form-label  text-success': !formCadastro.cpf.$error.required}">*Cpf</label>
                    <input type="text"  class="form-control" ng-class="{'form-control':formCadastro.cpf.$untouched,'form-control is-invalid': formCadastro.cpf.$touched && formCadastro.cpf.$error.required,'form-control is-valid': !formCadastro.cpf.$error.required}" id="cpf"  name="cpf" placeholder="cpf"  ng-model="cpf" ng-required="true">
                    <small ng-show="formCadastro.cpf.$touched && formCadastro.cpf.$error.required" class="text-danger">
                            CPF é obrigatorio.
                    </small>
                </div>
                <div class="form-group">
                   <label for="endereco">Endereço</label>
                   <input type="text" class="form-control" id="endereco"  placeholder="Endereço"  ng-model="endereco">
                </div>
                 <div class="form-group">
                     <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone"  placeholder="Telefone"  ng-model="telefone">
                </div>
                <button  class="btn btn-primary btnLogin btn-lg float-end"  ng-click="cadastrarUsuario()" ng-disabled="formCadastro.$invalid" ng-class="{'btn btn-primary btnLogin btn-lg float-end':formCadastro.$valid,'btn btn-primary btnLogin btnCadastroDesabilitado btn-lg float-end':formCadastro.$invalid}">Cadastrar</button>
            </form>
        </div>
    </div>
    <div class="col-sm-6" ng-init="getUsuarios()">
        <img src="~/imagens/usuarios.png" class="mx-auto d-block imagemLogin" asp-append-version="true" /></br>
        <h2>Usuarios</h2>
        <p ng-if="usuarios.length == 0">Nenhum usuario cadastrado</p>
        <table class="table table-striped"  ng-if="usuarios.length > 0">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarios">
                    <td>{{usuario.codigo}}</td>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.cpf}}</td>
                    <td>{{usuario.endereco}}</td>
                    <td>{{usuario.telefone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
